:root {
	--color-primary: #FF7E00;
	--color-background: #FFFFCC;
	--color-content-background: #FFFFB9;
	--color-hover: #262626;
	--color-description: #262626;
}

@font-face {
	font-family: "sans-regular";
	src: url('../fonts/sans-regular.ttf')  format('truetype');
}

@font-face {
	font-family: "sans-semibold";
	src: url('../fonts/sans-semibold.ttf')  format('truetype');
}

@font-face {
	font-family: "sans-italic";
	src: url('../fonts/sans-italic.ttf')  format('truetype');
}

body {
	background-color: var(--color-background);
	margin: 0px;
}

.header {
	color: white;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 18pt;
	line-height: 50px;
	font-family: "sans-semibold", sans-serif;
	background-color: var(--color-primary);
}
.content {
	padding-right: 20px;
	padding-left: 20px;
	width: 800px;
	height: 100%;
	margin: auto;
	margin-top: 0px;
	background-color: var(--color-content-background);
}

.project {
	padding-top: 20px;
	font-family: "sans-semibold", sans-serif;
	font-size: 16pt;
}

.description {
	font-family: "sans-regular", sans-serif;
	font-size: 12pt;
	color: var(--color-description);
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--color-hover);
	text-decoration: none;
	cursor: pointer;
}

a:link {
	color: black;
}

a:visited {
	color: black;
	text-decoration: none;
}