
@font-face {
	font-family: "console";
	src: url('../fonts/font.ttf')  format('truetype');
}


body {
	background-color: black;
	margin: 0px;
	-moz-user-select: none
}
@media screen and (max-device-width: 599px) and (orientation: portrait){
	.container {
		color: white;
		font-family: "console";
		margin: 0;
		position: absolute;
		font-size: 24pt;
		top: 30%;
		width: 400px;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}


.container {
	color: white;
	font-family: "console";
	margin: 0;
	position: absolute;
	font-size: 24pt;
	top: 30%;
	width: 400px;
	left: 50%;
	transform: translate(-50%, -50%)
}

.header {
	font-size: 64pt;
	text-align: center;
}

#text {
	color: green;
}

.red {
	color: red;
}

.white {
	color: white;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
	text-decoration: none;
}