
@font-face {
	font-family: "console";
	src: url('../fonts/font.ttf')  format('truetype');
}


body {
	background-color: black;
	margin: 0px;
	-moz-user-select: none
}
@media screen and (max-width: 800px){
	.container {
		color: white;
		font-family: "console";
		margin: 0;
		position: absolute;
		font-size: 24pt;
		top: 30%;
		width: 90%;
		left: 50%;
		transform: translate(-50%, -30%)
	}
}


@media (min-device-width: 850px) {
	.container {
		color: white;
		font-family: "console";
		margin: 0;
		position: absolute;
		font-size: 24pt;
		top: 30%;
		width: 800px;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

.divider {
	background-color: #505050;
	width: 100%;
	height: 2px;
}

.header {
	font-size: 64pt;
	text-align: center;
}

.sub_header {
	font-size: 48pt;
	margin-left: 20px;
}

#text {
	color: green;
}

.red {
	color: red;
}

.white {
	color: white;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
	text-decoration: none;
}